<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>C</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>Db</key>
	<array>
		<dict>
			<key>name</key>
			<string>Db</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Db7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dbm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dbm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dbdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dbaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Db6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dbmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Db9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>D</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>D7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ddim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Daug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>D6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>D9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>Eb</key>
	<array>
		<dict>
			<key>name</key>
			<string>Eb</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eb7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eb6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eb9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>name</key>
			<string>E</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>E7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Em</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Em7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Edim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Eaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>E6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>E9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>F</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>Gb</key>
	<array>
		<dict>
			<key>name</key>
			<string>Gb</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gb7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gbm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gbm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gbdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gbaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gb6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gbmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gb9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>G7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>G6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>G9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>Ab</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ab</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ab7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ab6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Abmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ab9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Am7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Adim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>A9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>Bb</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bb</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bb7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bbm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bbm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bbdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bbaug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bb6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bbmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bb9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>B</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bm</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bm7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bdim</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Baug</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B6</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bmaj7</string>
			<key>note</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B9</string>
			<key>note</key>
			<string>note</string>
		</dict>
	</array>
</dict>
</plist>
